---
import PostLayout from '@/layouts/PostLayout.astro';
import { getFormattedDate } from '@/utils/utils';
import { getReadingTime } from '@/utils/readingtime';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const meta = {
  title: entry.data.title,
  description: entry.data.description,
  canonical: entry.canonical,
  // image: await findImage(post.image),
  // noindex: BLOG?.post?.noindex,
  ogType: 'article',
};
---

<PostLayout {meta}>
  <div class="">
    <div class="container mx-auto space-y-16 px-4 py-8 lg:px-8 lg:py-16 xl:max-w-7xl">
      <div>
        <!-- <div class="text-sm uppercase font-bold tracking-wider mb-1 text-primary-700">
          Category
        </div> -->
        <h2 class="mb-4 text-3xl font-extrabold text-slate-900 dark:text-slate-100 md:text-4xl lg:text-5xl">
          {entry.data.title}
        </h2>
        <h3 class="text-md font-medium text-slate-600 dark:text-slate-200 md:text-lg md:leading-loose lg:text-xl">
          <span class="font-bold">{entry.data.author}</span> on
          <span class="font-semibold">{getFormattedDate(entry.data.publishDate)}</span> · {getReadingTime(entry.body)} min
          read
        </h3>
      </div>

      <article
        class="prose-md prose prose-slate text-justify prose-a:text-primary-600 prose-lead:leading-relaxed dark:prose-invert md:prose-lg"
      >
        <!-- <img src="https://cdn.tailkit.com/media/placeholders/photo-m_HRfLhgABo-800x400.jpg" alt="Featured Image of blog post"> -->
        <Content />
      </article>
    </div>
  </div>
</PostLayout>
