---
import { NAV, SOCIAL } from '@/config.mjs';
import { Icon } from 'astro-icon';

const currentYear = new Date().getFullYear();
---

<footer class="">
  <div class="mx-auto max-w-7xl overflow-hidden py-20 px-6 sm:py-24 lg:px-8">
    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
      {
        NAV.map(({ name, href }) => (
          <div class="pb-6">
            <a href={href} class="text-sm leading-6 text-slate-600 hover:text-slate-900">
              {name}
            </a>
          </div>
        ))
      }
      <div class="pb-6">
        <button class="cursor-not-allowed text-sm leading-6 text-slate-400" disabled>Projects</button>
        <span
          class="inline rounded-full border py-1 px-2 text-[.6125rem] uppercase leading-4 text-gray-400 dark:border-gray-700 dark:text-gray-500"
          >Soon</span
        >
      </div>
    </nav>
    <div class="mt-10 flex justify-center space-x-10">
      {
        SOCIAL.map(({ name, link, ariaLabel }) => (
          <a href={link} aria-label={ariaLabel} class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">{name}</span>
            <Icon name={name} class="h-6 w-6" />
          </a>
        ))
      }
    </div>
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">
      &copy; {currentYear} David D Lawson. Got any feedback? <span
        data-feedback-fish
        class="cursor-pointer text-primary-600">Let me know!</span
      >
    </p>
  </div>
</footer>
