---
import ToggleTheme from '@/components/ToggleTheme.astro';
import { Icon } from 'astro-icon';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const isActive = currentPath === '' ? 'active' : '';

const navItems = [
  {
    name: 'Home',
    href: '/',
  },
  // {
  //   name: 'About',
  //   href: '/about',
  // },
  {
    name: 'Blog',
    href: '/blog',
  },
];

const socialShares = [
  {
    name: 'tabler:brand-linkedin',
    link: 'https://www.linkedin.com/in/ddlawson/',
    ariaLabel: 'LinkedIn',
  },
  {
    name: 'tabler:brand-github',
    link: 'https://www.github.com/DDiran',
    ariaLabel: 'GitHub',
  },
  {
    name: 'tabler:brand-twitter',
    link: 'https://twitter.com/ddlaws0n',
    ariaLabel: 'Twitter',
  },
];
---

<header id="page-header" class="bg-transparent">
  <div class="flex flex-none items-center py-6">
    <div
      class="container mx-auto flex flex-col space-y-6 px-4 text-center sm:flex-row sm:items-center sm:justify-between sm:space-y-0 lg:px-10 xl:max-w-7xl"
    >
      <nav class="space-x-4 sm:space-x-6" aria-label="Main navigation">
        {
          navItems.map(({ name, href }) => (
            <a
              href={href}
              class:list={['font-semibold text-gray-900 hover:text-primary-600 dark:text-white', isActive]}
            >
              <span>{name}</span>
            </a>
          ))
        }
      </nav>
      <div class="flex items-center justify-center">
        <ToggleTheme iconClass="h-6 w-6" />
        {
          socialShares.map(({ name, link, ariaLabel }) => (
            <a
              href={link}
              target="_blank"
              class="hover:bg-primary-50 hover:text-primary-600 inline-block cursor-alias rounded-lg p-2.5 text-sm text-gray-500 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
              aria-label={ariaLabel}
            >
              <Icon name={name} class="h-6 w-6" />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</header>

<!-- <style>
    .active {
      @apply text-primary-600
    }
  </style> -->
