---
import ArticleHeader from '@/components/ArticleHeader.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { SITE } from '@/site.config';
import { getReadingTime } from '@/utils';
import { getCollection, render } from 'astro:content';
export const prerender = true;

import type { MetaSEO } from '@/types';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('writing');
  return blogEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props as { entry: CollectionEntry<'writing'> };
const { Content } = await render(entry);

const meta: MetaSEO = {
  title: entry.data.title,
  description: entry.data.description,
  canonical: SITE.origin + `/writing/${entry.id}`,
  ogTitle: entry.data.title,
};

const readingTime = `${entry.body ? getReadingTime(entry.body) : '5'} min read`;
---

<BaseLayout {meta}>
  <Header />
  <main>
    <ArticleHeader
      title={entry.data.title}
      date={entry.data.publishDate}
      readingTime={readingTime}
      tags={entry.data.tags}
    />
    <article
      class="prose-anthem max-w-narrow mx-auto prose px-12 py-16 prose-invert max-sm:px-6 prose-headings:text-text prose-p:text-text-secondary prose-a:text-accent prose-strong:text-text prose-code:text-accent-bright"
    >
      <Content />
    </article>
  </main>
  <Footer />
</BaseLayout>
