---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import PostListItem from '@/components/PostListItem.astro';
import SectionEyebrow from '@/components/SectionEyebrow.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { SITE } from '@/site.config';
import { getFormattedDate } from '@/utils';
import { getCollection, type CollectionEntry } from 'astro:content';

const unsortedPosts = await getCollection('writing', ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const blogPosts = unsortedPosts.sort(
  (a: CollectionEntry<'writing'>, b: CollectionEntry<'writing'>) =>
    b.data.publishDate.getTime() - a.data.publishDate.getTime()
);

const meta = {
  title: 'Writing',
  description:
    "I publish new content, sometimes&trade;. It' mostly a combination of random rambling and (recently) AI-related thoughts.",
  canonical: SITE.origin + '/writing',
};
---

<BaseLayout {meta}>
  <Header />
  <main class="min-h-screen px-12 py-24 max-sm:px-6">
    <SectionEyebrow text="Writing" />
    <div>
      {
        blogPosts.map((post) => (
          <PostListItem
            date={getFormattedDate(post.data.publishDate)}
            title={post.data.title}
            tag={post.data.tags?.[0]}
            href={`/writing/${post.id}`}
          />
        ))
      }
    </div>
  </main>
  <Footer />
</BaseLayout>

<script src="../../scripts/reveal.ts"></script>
